



  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededed;
      background-image: url("/static/img/background.jpg"); 
      background-size: cover; 
      background-repeat: no-repeat; 
      background-attachment: fixed;
    
  }
  
  /* Navbar Styles */
.navbar {
  background-color: #000;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  margin-left: 30px; 
  max-width: 300px;
height: auto;
}


.navbar .nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.navbar .nav-links li {
  position: relative;
}

.navbar .nav-links a {
  color: rgb(225, 225, 225);
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  transition: color 0.3s;
  margin-right: 20px;
}

.navbar .nav-links a:hover {
  color: #ff0;
}

/* Animated underline */
.navbar .nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #0f0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.navbar .nav-links a:hover::after {
  transform: scaleX(1);
}

  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    transition: box-shadow 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .card-text {
    color: #666;
  }
  

  
  /* Media query for responsive design */
  @media screen and (max-width: 768px) {
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
  }
  
  .heading {
    background-color: #000000;
    text-align: center;
    color: #0f0; 
    font-size: 40px;
    font-family: 'Courier New', monospace;
    padding: 20px; 
    border: 2px solid green; 
    border-radius: 10px; 
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.8); 
}
.tools {
  text-align: center;
  background-color: #333; 
  color: #ff0; 
  font-size: 30px;
  font-weight: bold;
  font-family: 'Arial', sans-serif; 
  padding: 10px; 
  margin-bottom: 20px; 
  letter-spacing: 2px; 
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tools:hover {
  background-color: #00f; 
  color: #fff; 
  cursor: pointer; 
}


/* Footer styles */
footer {
  background-color: #333; /* Background color for the footer */
  color: #fff; /* Text color for the footer */
  padding: 20px 0; /* Padding for top and bottom */
}

.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}

.social-icons li {
  display: inline-block;
  margin-right: 20px; /* Spacing between social icons */
}

.social-icons a {
  color: #fff; /* Color of social icons */
  font-size: 24px; /* Adjust the font size as needed */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.social-icons a:hover {
  color: #55acee; /* Color change on hover (adjust as needed) */
}

.footer-logo {
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: bold;
  text-decoration: none;
  color: #fff; /* Color of the footer logo */

}

/* Center align text and logo in the footer */
.footer-text {
  text-align: center;
 
}

/* Add a subtle border at the top of the footer */
.border-top {
  border-top: 1px solid #fff;
  padding-top: 20px;
  text-align: center;
  font-size: large;
  margin-top: 20px;
}



