<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SecureWebScan - Scan Your Website</title>
  <link rel="stylesheet" href="/static/css/home.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
<!-- Start of Async Drift Code -->
<script>
  "use strict";
  
  !function() {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
      t.factory = function(e) {
        return function() {
          var n = Array.prototype.slice.call(arguments);
          return n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
        var i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i);
      };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('kvg9rxnm54er');
  </script>
  <!-- End of Async Drift Code -->
<style>
  
.hacking-card {
  background-color: #000;
  color: #0f0;
  border: 2px solid #0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}
.hacking-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hacking-icon {
  color: #0f0;
}

.hacking-title {
  font-size: 20px;
  color: #0f0;
}

.hacking-text {
  color: rgb(170, 170, 170);
}

.hacking-button {
  background-color: rgb(0, 85, 203);
  color: #ffffff;
}

.hacking-button:hover {
  background-color: #0a0;
}

</style>
</head>
<body>
  <nav>
    <div class="navbar">
      <img src="/static/img/logo2.png" alt="logo" height="50px" width="50px">
      <h1 class="logo">SecureWebScan</h1>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="/menu"  target="_blank">Menu</a></li>
      </ul>
    </div>
  </nav><br>

  
  <h1 class="heading">All HackingTools Menu 🧰</h1><br> <section class="container">
    <h2  class="tools">Infomation Gathering Tools</h2><br>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mb-4 hacking-card">
          <div class="card-body text-center">
            <i class="fas fa-laptop fa-4x mb-3 hacking-icon" style="color: #f441a5;"></i>
            <h5 class="card-title hacking-title">Port Scanning</h5>
            <p class="card-text hacking-text">Perform a port scan to discover open ports on a target system.</p>
            <a href="/port_scanning" class="btn btn-primary hacking-button" target="_blank">Scan Now</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        
        <div class="card mb-4 hacking-card">
          <div class="card-body text-center">
            <i class="fas fa-globe fa-4x mb-3 hacking-icon" style="color: #50c878;"></i>
            <h5 class="card-title hacking-title">Subdomain finder</h5>
           <p class="card-text hacking-text">Find all subdomain in <br>your website</p>
            <a href="/subdomain" class="btn btn-primary hacking-button"target="_blank">Scan Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 hacking-card">
            <div class="card-body text-center">
                <i class="fas fa-key fa-4x mb-3 hacking-icon" style="color: #1e90ff;"></i>
                <h5 class="card-title hacking-title">Password Generator</h5>
                <p class="card-text hacking-text">Generate strong and secure passwords for your accounts.</p>
                <a href="#" class="btn btn-primary hacking-button" target="_blank">Generate Password</a>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 hacking-card">
            <div class="card-body text-center">
                <i class="fas fa-search fa-4x mb-3 hacking-icon" style="color: #f441a5;"></i>
                <h5 class="card-title hacking-title">DNS Lookup</h5>
                <p class="card-text hacking-text">Find the IP Address <br>of any Domain Name</p>
                <a href="/dns_lookup" class="btn btn-primary hacking-button" target="_blank">Scan Now</a>
            </div>
        </div>
    </div>
    

    <div class="col-md-4">
      <div class="card mb-4 hacking-card">
          <div class="card-body text-center">
              <i class="fas fa-location fa-4x mb-3 hacking-icon" style="color: #50c878;"></i>
              <h5 class="card-title hacking-title">IP Geolocation</h5>
              <p class="card-text hacking-text">Reveal the location <br>of any IP address.</p>
              <a href="/ip_address_lookup" class="btn btn-primary hacking-button" target="_blank">Check</a>
          </div>
      </div>
  </div>
  
  <div class="col-md-4">
      <div class="card mb-4 hacking-card">
          <div class="card-body text-center">
              <i class="fas fa-home fa-4x mb-3 hacking-icon" style="color: #1e90ff;"></i>
              <h5 class="card-title hacking-title">What is my IP?</h5>
              <p class="card-text hacking-text">Lookup your IP <br>addresses (IPv4 and IPv6)</p>
              <a href="/whatismyip" class="btn btn-primary hacking-button" target="_blank">Check</a>
          </div>
      </div>
  </div>
  

    <h2 class="tools">Wordlist Generator</h2>

    <div class="col-md-4"><br>
      <div class="card mb-4 hacking-card">
          <div class="card-body text-center">
              <i class="fas fa-key fa-4x mb-3 hacking-icon" style="color: #1e90ff;"></i>
              <h5 class="card-title hacking-title">Password Generator</h5>
              <p class="card-text hacking-text">Generate strong and secure passwords for your accounts.</p>
              <a href="passwordGen" class="btn btn-primary hacking-button" target="_blank">Generate Password</a>
          </div>
      </div>
    </div>
  
      <div class="col-md-4"><br>
          <div class="card mb-4 hacking-card">
              <div class="card-body text-center">
                  <i class="fas fa-lock fa-4x mb-3 hacking-icon" style="color: #50c878;"></i>
                  <h5 class="card-title hacking-title">Passwords Checker</h5>
                  <p class="card-text hacking-text">Check the strength <br>of your password.</p>
                  <a href="/passwordchecker" class="btn btn-primary hacking-button" target="_blank">Check password</a>
              </div>
          </div>
      </div>
  
      <div class="col-md-4"><br>
          <div class="card mb-4 hacking-card">
              <div class="card-body text-center">
                  <i class="fas fa-home fa-4x mb-3 hacking-icon" style="color: #1e90ff;"></i>
                  <h5 class="card-title hacking-title">What is my IP?</h5>
                  <p class="card-text hacking-text">Lookup your IP <br>addresses (IPv4 and IPv6)</p>
                  <a href="/whatismyip" class="btn btn-primary hacking-button" target="_blank">Check</a>
              </div>
          </div>
      </div>
  </div>
  
    <h2 class="tools">XSS Tools</h2><br>


    <div class="row justify-content-center">
      <div class="col-md-4"><br>
          <div class="card mb-4 hacking-card">
              <div class="card-body text-center">
                  <i class="fas fa-bug  fa-4x mb-3 hacking-icon" style="color: #f441a5;"></i>
                  <h5 class="card-title hacking-title">XSS Scanner</h5>
                  <p class="card-text hacking-text">Scan your website to <br>find XSS vulnerabilities</p>
                  <a href="/scanner" class="btn btn-primary hacking-button" target="_blank">Check</a>
              </div>
          </div>
      </div>
  
      <div class="col-md-4"><br>
          <div class="card mb-4 hacking-card">
              <div class="card-body text-center">
                  <i class="fas fa-lock fa-4x mb-3 hacking-icon" style="color: #f441a5;"></i>
                  <h5 class="card-title hacking-title">Placeholder Title</h5>
                  <p class="card-text hacking-text">Placeholder Text<br> Placeholder Text</p>
                  <a href="#" class="btn btn-primary hacking-button" target="_blank">Check</a>
              </div>
          </div>
      </div>
  
      <div class="col-md-4"><br>
          <div class="card mb-4 hacking-card">
              <div class="card-body text-center">
                  <i class="fas fa-lock fa-4x mb-3 hacking-icon" style="color: #50c878;"></i>
                  <h5 class="card-title hacking-title">Placeholder Title</h5>
                  <p class="card-text hacking-text">Placeholder Text <br>of your password.</p>
                  <a href="#" class="btn btn-primary hacking-button" target="_blank">Check</a>
              </div>
          </div>
      </div>
  </div>
  
  



<br><br><br><br><br>
<section>
  <footer>
    <div class="container">
      <div class="footer-text">
        <a href="#" class="footer-logo">SecureWebScan</a><br>
        <ul class="social-icons">
          <li><a href="#" class="fab fa-facebook-f"></a></li>
          <li><a href="#" class="fab fa-twitter"></a></li>
          <li><a href="#" class="fab fa-google"></a></li>
          <li><a href="#" class="fab fa-instagram"></a></li>
          <li><a href="#" class="fab fa-linkedin-in"></a></li>
          <li><a href="#" class="fab fa-github"></a></li>
        </ul>
      </div>
      <div class="border-top">
        &copy; 2023 SecureWebScan.com
      </div>
    </div>
  </footer>
  
</section>

</body>
</html>
