<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/menu.css">
<link rel="shortcut icon" href="/static/img/logo2.png">

  <title>Hacking Tool Menu</title>

</head>
<body>
  <div class="menu-container">
    <h1>Hackingtool Menu 🧰</h1>
    <ul class="menu-list">
        <li>Information gathering tools</li>
        <li>Wordlist Generator</li>
        <li>Wireless attack tools</li>
        <li>SQL Injection Tools</li>
        <li>Phishing attack tools</li>
        <li>Web Attack tools</li>
        <li>Post exploitation tools</li>
        <li>Anonymously Hiding Tools</li>
          <li>Forensic tools</li>
          <li>Payload creation tools</li>
          <li>Exploit framework</li>
          <li>Reverse engineering tools</li>
          <li>DDOS Attack Tools</li>
          <li>Remote Administrator Tools (RAT)</li>
          <li>XSS Attack Tools</li>
          <li>Steganograhy tools</li>
   
          <li>SocialMedia Bruteforce</li>
          <li>Android Hacking tools</li>
          <li>IDN Homograph Attack</li>
          <li>Email Verify tools</li>
          <li>Hash cracking tools</li>
          <li>Wifi Deauthenticate</li>
          <li>SocialMedia Finder</li>
          <li>Payload Injector</li>
          <li>Web crawling</li>
          <li>Mix tools</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="footer">
    © 2023 Copyright:
    <a href="#">SecureWebScan.com</a>
  </div><br>
</body>
</html>